<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/WEB-INF/error/NumberFormatError.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/WEB-INF/error/ArithmeticException.jsp</location>
  </error-page>	
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/error/NotFoundError.jsp</location>
  </error-page>	  
  
  

  <servlet>
  	<servlet-name>hundred-servlet</servlet-name>
  	<servlet-class>HundredServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>hundred-servlet</servlet-name>
  	<url-pattern>/hundred</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>xxx</servlet-name>
  	<servlet-class>AdderServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>xxx</servlet-name>
  	<url-pattern>/adder</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>yyy</servlet-name>
  	<servlet-class>BBSPostServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>yyy</servlet-name>
  	<url-pattern>/bbs-post</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>zzz</servlet-name>
  	<servlet-class>PersonalInfoServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>zzz</servlet-name>
  	<url-pattern>/pinfo-result</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
  	<servlet-name>AAA</servlet-name>
  	<servlet-class>PibonachiServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>AAA</servlet-name>
  	<url-pattern>/pibonachi</url-pattern>
  </servlet-mapping>  
  
  <servlet>
  	<servlet-name>BBB</servlet-name>
  	<servlet-class>WinnersServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>BBB</servlet-name>
  	<url-pattern>/jstl</url-pattern>
  </servlet-mapping>   
  
  
  <servlet>
  	<servlet-name>animalServlet</servlet-name>
  	<servlet-class>AnimalServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>animalServlet</servlet-name>
  	<url-pattern>/animal</url-pattern>
  </servlet-mapping>  


  <servlet>
  	<servlet-name>resultServlet</servlet-name>
  	<servlet-class>ResultServlet</servlet-class>	
  </servlet>  
  <servlet-mapping>
    <servlet-name>resultServlet</servlet-name>
  	<url-pattern>/result</url-pattern>
  </servlet-mapping> 

  
  
  <servlet>
  	<servlet-name>ex</servlet-name>
  	<servlet-class>chap05.DividerServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>ex</servlet-name>
  	<url-pattern>/divider</url-pattern>
  </servlet-mapping>  
  
  
  
  <servlet>
  	<servlet-name>ex6-3</servlet-name>
  	<servlet-class>chap06.GreetingServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>ex6-3</servlet-name>
  	<url-pattern>/greeting</url-pattern>
  </servlet-mapping>   
  
  
  
</web-app>